body {
    font-family: "Roboto", sans-serif;
}

/*------------------
        Title
  ------------------*/
.header {
  margin: 0px 10vw;
}

#title {
  font-size: 3.5rem;
}

#subtitle {
  font-size: 1.4rem;
}

#subtitle > span {
  font-size: 1.3rem;
  font-weight: 300;
}
/*------------------*/



/*------------------
         Grid
  ------------------*/
.grid {
  margin: 0px 10vw;
}

  /* ---- Left ---- */
  .left {
    background-color: #cccccc;
    border-radius: 2vw;
    padding: 30px;
  }

  .left .col {
    width: 80%;
  }

  .dropdown {
    width: 100%;
  }

  .left h3 {
    margin-bottom: 0px;
  }
  /* ------------- */

  /* --- Center --- */
  .center {
    min-height: 39vh;
    background-color: #cccccc;
    border-radius: 2vw;
    padding: 30px;
  }

  #inventory > .row {
    margin: 0px auto;
  }

  .slot, .slot-background, .slot-item {
    padding: 0px;
    margin: 0px;
    height: 4vw;
    width: 4vw;
  }

  .slot > img {
    position: absolute;
  }

  .slot-item {
    margin: 0.25vw;
    width: 3.5vw;
    height: 3.5vw;
  }


  /* ------------- */

  /* --- Right --- */
  .right {
    background-color: #cccccc;
    border-radius: 2vw;
    padding: 2rem;
  }

  #rowsNum {
    background: #ebebeb;
  }

  #rowsInput {
    width: 50%;
  }

  #removeRow, #addRow {
    font-family: "Roboto Mono", "Roboto", sans-serif;
    color: white;
  }

  .horizontal-divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-width: 2px;
    border-color: darkgray;
  }
  /* ------------- */

/*------------------*/



/*------------------
        Output
  ------------------*/
#output {
  font-family: "Roboto Mono", "Roboto", sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toast {
  width: 10rem;
}
/*------------------*/



/*------------------
        Footer
  ------------------*/
#footer {
  background: white;
}
/*------------------*/
